$beverage-color: hsl(0, 28%, 31%);
$beverage-color-dark: hsl(0, 23%, 39%);
$unfill-duration: 25s;

.coffeeContainer{
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: 450px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;


  .readyButton{
    text-decoration: none;
    font-family: 'Mirza', cursive;
    margin-top: 10px;
    padding-top: 10px;
    width: 200px;
    height: 100px;
    z-index: 10;
    background: none;
    border: none;
    border: 2px white solid;
    border-radius: 10px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    transition: background-color .2s;
    &:hover{
      background: rgba($color: white, $alpha: .3);
    }
  }
}

.water{
  width:600px;
  height: 600px;
  
  background-color: rgba($color: #000000, $alpha: 0.1);
  overflow: hidden;
  position: absolute;
  mask: url('../../assets/mask.png');
  }
  .water:before, .water:after{
      content:'';
      position: absolute;
      width:1200px;
      height: 1200px;
      right: -0px;
    }
    .water:before{
      right: 0px;
      background-color: $beverage-color;
      animation:unfillBefore $unfill-duration linear forwards ;
      
    }
    .water:after{
      right: -500px;
      border: 200px solid;
      border-radius: 42%;
      border-color:$beverage-color-dark ;
      animation:wave 10s linear infinite, 
      unfillAfter $unfill-duration linear forwards
  }

  #maskHover{
    position: relative;
    right: 0;
    width:600px;
    height: 600px;
    filter: brightness(.7)
  }
  
  #vapor{
    position: relative;
    height: 300px;
    filter: brightness(.7);
  }

  #coffee{
    transform: scale(.4, .5);
    position: relative;
    animation: fadeOn 1s, fadeOff 1s $unfill-duration ease-in-out forwards ;

  }

  #mill{
    position: relative;
    animation: fadeOn .5s ease-in-out forwards, blink 1s .5s infinite;
    filter: brightness(.7);
    justify-content: center;
    height: 400px;

  }

  

  @keyframes unfillAfter{
    0%{
      bottom: 400px;
    }
    100%{
      bottom: -120px;
    }
  }

  @keyframes unfillBefore{
    0%{
      top: 100px;
    }
    100%{
      top: 650px;
    }
  }

  @keyframes fadeOff{
    0%{	
      opacity: 1;}
    100%{
      opacity: 0;
    }
  }

  @keyframes fadeOn{
    0%{	
      opacity: 0;}
    100%{
      opacity: 1;
    }
  }

  @keyframes wave{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes blink{
  0%{	
    opacity: 1;}
    50%{
      opacity: .5;
    }
    100%{
      opacity: 1;
    }
}
  