.homeContainer{
  width: 100%;
  display: flex;
  margin: 1rem auto ;
  flex-direction: column;
  backdrop-filter: blur(2px);
  -webkit-box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.09); 
  box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.09);
  background-color: rgba(255, 255, 255, 0.1);
  max-width: 60rem;
  border-radius: 1.5rem;
  padding: 29px;
  color: white;
  text-align: start ;

  .title{
    cursor: pointer;
    background: rgba($color: white, $alpha: .1);
    border: 1px white solid;
    border-radius: 5px;
    width: 100px;
    height: 10px;
    vertical-align: middle;
    display : inline-block;
    margin: 0 auto 10px ;
    padding-top: 8px;
    transition: background-color .2s;

    &:hover{
      background: rgba($color: white, $alpha: .5);
    }
  }
}

.module{
  padding: 19px;
  width: 25rem;
  flex-direction: column;
}

.modules{
  margin: auto;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#home{
  
  margin: 2rem auto;
  justify-content: space-around;
  transform-style: preserve-3d;
  width: 100%;
  height: 50%;
  max-height: 35rem;
  min-height: 15rem;
 
  flex-direction: row;

  img{
    width: 500px;
  }
  
}

h3 {
  padding: 1rem;
}

h4, h2 {
  text-align: center;
  padding: 1rem;
  padding-bottom: 1.5rem;
  margin: 0;
}