.music_title{
    color: aliceblue;
    padding : 1em;
}


.youtube_player {
    max-width: 800px ;
    /* display: flex;
    justify-content: center; */
    margin: auto;
    }
    
    .youtube_player div {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    }
    
