.Logo {
  width: 5%;
  height: 5%;
}

.PomodoroContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pomodoroBg{
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  background-color: rgba(255, 255, 255, .05);
  margin: 30px auto;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  -webkit-box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.09); 
  box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.09);
}

.Refill {
  color: whitesmoke;
}

.pomodoro_title{
  margin-top: 1rem;
}