.Logo {
  width: 5%;
  height: 5%;
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1500px;
  margin: auto;
  flex-wrap: wrap;
}

.Refill {
  color: whitesmoke;
}