@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

#title {
  position: absolute;
  font-size: 9.5rem;
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-align: center;
  margin-top: 3.5%;
  left: 46%;
}